<h2> ISF-Query changes </h2>

{{#tags}}
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------
</p>
<h3> {{name}} </h3>
{{#commits}}
{{authorName}} {{commitTime}}  <a href="https://git.sami.int.thomsonreuters.com/PlatformSearch/isf-query-formulator/commit/{{hash}}">{{hash}}</a>  
 <b> {{{messageTitle}}}</b> <br>
{{/commits}}
{{/tags}}